<!DOCTYPE html>

<%- include('../views/navbar', {userName: user.user_name}); %>

<html>
  <%- include('../views/head'); %>
  <body>
    <section class="section container">  
             <form  method="post" id="searchFriendsForm" action="/friend" class="mb-3">     
                <input type="text" class="form-control" id="searchItem">
                <input type="submit" value="Search" class="btn btn-outline-secondary"/>
             </form>         
    </section>
    <section id="results" class="section container">
        <p class="error"><%= typeof error != 'undefined' ? error : '' %></p> 
    <section>
    <script src="public/../script.js"></script>
  </body>
</html>